body{
    background-color:aliceblue ;
}

.container{
    display:flex;
    margin: 50px 10px;
}

.profile{
    flex:1;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
    border-radius: 5px;
    height: max-content;
    border: 1px solid #000;
    width: 30%;
}

.profile-header{
    display:block;
    border-bottom: 1px solid #768499;
}
.profile-img{
    width: 50%;
    height: 50%;
    border-radius: 10px;
    margin: 10px 100px;
}

.profile-text-container{
    line-height: 0.5;
}

.profile-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.menu{
    margin: 0 20px;
    height: 210px;
}

.menu-link{
    display: block;
    text-decoration: none;
    color: #768499;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 25px;
}

#password{
    color:#fff;
    background-color: #5372fe;
}

.menu-link:hover{
    background-color: #f1f5f9;
    color: #1e293b;
}

#password:hover{
    background-color: #536dfe;
    color: #fff;
}

.password{
    flex: 2;
    margin-left: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    height: 500px;
    border: 1px solid #000;
    font-size: 20px;
}

.password-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #768499;
}

.password-title{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #1e293b;
    font-weight:500 ;
    margin-left: 10px;
}

.btn-container{
    margin-top: 20px;
    margin-left: 50%;
}

.btn-cancel{
    width: 8em;
    height: 3em;
    cursor: pointer;
    border: 1px solid #768499;
    border-radius: 2em;
    color: #1e293b;
    font-weight: bold;
    margin-right: 5px;
    background-color: #fff;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.btn-cancel:hover{
    background-color: #f1f5f9;
}

.btn-confirm {
    width: 8em;
    height: 3em;
    cursor: pointer;
    border: 1px solid #458ff6;
    border-radius: 2em;
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
    background-color: #536dfe;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.btn-confirm:hover{
    background-color: #4053c9;
}

.password-edit{
    display:block;
    justify-content: space-between;
    margin: 15px 60px;
}

.input-container{
    width: 60% ;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.input-container label{
    font-family: Arial, Helvetica, sans-serif;
    color: #768499;
    font-size: 14px;
}

.input-container input{
    height: 30px;
    border: 1.5px solid #768499;
    border-radius: 5px;
    padding: 5px;
    color: #768499;
    font-family: Arial, Helvetica, sans-serif;
}

.input-container input:focus{
    outline: none;
    border:1.5px solid #536dfe;
}
.error{
    background-color: #c55757;
    padding: 1px;
    text-align: center;
    margin-top: 20px;
}
.success{
    background-color: #9ccfe4;
    padding: 1px;
    text-align: center;
    margin-top: 20px;
}