body{
    background-color:aliceblue ;
}

.container{
    display:flex;
    margin: 50px 10px;
}

.profile{
    flex: 1;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
    border-radius: 5px;
    height: max-content;
    border: 1px solid #000;
    width: 30%;
}

.profile-header{
    display:block;
    border-bottom: 1px solid #768499;
}
.profile-img{
    width: 50%;
    height: 50%;
    border-radius: 10px;
    margin: 10px 100px;
}

.profile-text-container{
    line-height: 0.5;
}

.profile-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.menu{
    margin: 0 20px;
    height: 210px;
}

.menu-link{
    display: block;
    text-decoration: none;
    color: #768499;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 25px;
}

#update{
    color:#fff;
    background-color: #5372fe;
}

.menu-link:hover{
    background-color: #f1f5f9;
    color: #1e293b;
}

#update:hover{
    background-color: #536dfe;
    color: #fff;
}

.update{
    flex: 2;
    margin-left: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    height: max-content;
    border: 1px solid #000;
    font-size: 20px;
}

.update-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #768499;
}

.update-title{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #1e293b;
    font-weight:500 ;
    margin-left: 30%;
}

.btn-container{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 80%;
}


.btn-update{
    width: 8em;
    height: 3em;
    cursor: pointer;
    border: 1px solid #458ff6;
    border-radius: 2em;
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
    background-color: #536dfe;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.btn-update:hover{
    background-color: #4053c9;
}

.update-edit{
    display: block;
    justify-content: space-between;
    margin: 15px 0;
}

.input-container{
    width: 100% ;
    display: flex;
    flex-direction:row;
    margin: 20px 20px;
}

.input-container label{
    font-family: Arial, Helvetica, sans-serif;
    color: #768499;
    font-size: 14px;
}

.input-container input{
    height: 30px;
    border: 1.5px solid #768499;
    border-radius: 5px;
    padding: 5px;
    color: #768499;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
}

.input-container input:focus{
    outline: none;
    border:1.5px solid #536dfe;
}

textarea{
    width:75%;
    height: 50px;
}

#date{
    width:100px;
}

#dose{
    width: 20%;
}

#lot{
    width: 20%;
}
