body{
    background-color:aliceblue ;
}

.topic {
    background-color: #9ccfe4;
    padding: 1px;
    text-align: center;
    margin-top: 20px;
    width: 70%;
    margin-left: 280px;
    border: 1px solid #000;
}

.btn{
    width: 8em;
    height: 3em;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 2em;
    color: #1e293b;
    font-weight: bold;
    margin-right: 5px;
    background-color: #fff;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1);
}
.btn-add{
    text-decoration: none;
}

.btn:hover{
    background-color: #f1f5f9;
}
 
.col1{
    font-size: 27px;
}

td{
    font-size: 27px;
}

